@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swalp');

/* start reset */

html, body, div, p, h1, h2, h3, h4, h5, h6,
ul, ol, li, dl, dt, dd, form, fieldset, caption, legend,
table, tr, td, th, address, blockquote, img, button {
    margin: 0;
    padding: 0;
}

img, fieldset {
    border: none;
}

blockquote, q {
    quotes: none;
}

html {
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

button, label, summary {
    cursor: pointer;
}

body, button, input, table, textarea, select {
    font-size: 1rem;
    line-height: 1.5;
    font-family: inherit;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

/* end reset */

:root {
    --violet: hsl(235, 69%, 61%);
    --violet-fade-10: hsl(235, 69%, 61%, .1);
    --violet-fade-35: hsl(235, 69%, 61%, .35);
    --light-violet: hsl(235, 82%, 77%);
    --very-dark-blue: hsl(219, 29%, 14%);
    --midnight: hsl(220, 29%, 10%);
    --white: hsl(0, 0%, 100%);
    --fixed-white: hsl(0, 0%, 100%);
    --light-gray: hsl(210, 22%, 96%);
    --gray: hsl(212, 23%, 69%);
    --dark-gray: hsl(214, 17%, 51%);
    --dark-gray-faded: hsl(214, 17%, 51%, .2);
    --dark--gray-button-hover: hsl(217, 6%, 44%);
    --header-violet: #5964E0;
    --max-width: 72em;
}

html, body, #root {
    height: 100%;
}

#root > main {
    min-height: 100%;
}

body {
    font: 400 1em/1.625 Kumbh Sans, sans-serif;
    background: #000;
}

input:-webkit-autofill {
    background-color: transparent !important;
    -webkit-box-shadow: 0 0 0 50px white inset;
}

h2 {
    font-size: 1.5rem;
    line-height: 1.8125;
}

h3 {
    font-size: 1.25rem;
    line-height: 1.5;
}

h4 {
    font-size: 0.875rem;
    line-height: 1.125;
}

.button {
    background-color: var(--violet);
    color: var(--fixed-white);
    font-weight: 700;
    border-radius: 0.3125rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    display: block;
    padding: 0 2.375rem;
    transition: .15s background-color;
    text-decoration: none;
}

.button:hover {
    background-color: var(--light-violet);
}

.button.alternate {
    background-color: var(--violet-fade-10);
    color: var(--violet);
}

.button.alternate:hover {
    background-color: var(--violet-fade-35);
    color: var(--violet);
}

.bullet {
    margin: 0 .75em;
    display: inline-block;
    background: var(--dark-gray);
    height: .25em;
    width: .25em;
    border-radius: 100%;
    vertical-align: middle;
}

.textField {
    color: var(--very-dark-blue);
}

main {
    background: var(--light-gray) url(../assets/mobile/bg-pattern-header.svg) top -1px left / 100vw no-repeat;
    color: var(--very-dark-blue);
    padding: 2em 1.5em;
    margin: 0 auto;
    /*min-height: 100%;*/
}

main > article {
    max-width: var(--max-width);
    margin: 0 auto;
    position: relative;
    z-index: 3;
}

h1 {
    font-size: 2em;
    color: var(--fixed-white);
    width: 7.1875rem;
    height: 2rem;
    position: relative;
    line-height: 0.75;
}

h1 a {
    text-decoration: none;
    color: var(--fixed-white);
}

h1 span {
    position: absolute;
    /*background: url(../assets/desktop/logo.svg) 0 0 no-repeat;*/
    top: .2rem;
    left: 0;
    width: 100%;
    height: 100%;
}

main > article > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 2em;
}

#jobListMetaWrapper {
    display: flex;
    flex-direction: row;
    margin: -2.5625em 0 4.375em;
    flex-wrap: wrap;
    row-gap: 0.5em;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

#activeFilterList {
    display: flex;
    column-gap: 0.625em;
    color: var(--very-dark-blue);
    flex-wrap: wrap;
    row-gap: 0.5em;
}

#activeFilterList li {
    font-size: 0.75em;
    padding: 0.25em 0.5em;
    border-radius: 0.25rem;
    background: var(--white);
    font-weight: 700;
    max-width: 20.4375em;
    overflow:hidden;
    text-overflow: ellipsis;
}


#activeFilterList li a {
    color: var(--very-dark-blue);
    text-decoration: none;
    display: flex;
    align-items: center;
    column-gap: 0.25em;
}

#activeFilterList svg {
    font-size: 1rem;
}

#numResults {
    font-size: 0.75em;
    color: var(--very-dark-blue);
    background: var(--light-gray);
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
}

#jobList {
    display: grid;
    row-gap: 3.5625em;
    column-gap: .6875em;
    margin: 0 0 2em;
}

#noJobsFound {
    text-align: center;
    font-size: 1em;
    font-weight: 700;
    margin: 5em 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2em;
}

#noJobsFound svg {
    width: 4em;
    height: 4em;
}

.job {
    display: flex;
    flex-flow: column wrap;
    row-gap: 0.375em;
    position: relative;
    background: var(--white);
    border-radius: .375em;
    padding: 3em 2em 2.25em;
    color: var(--dark-gray);
    text-decoration: none;
    height: 100%;
}

.job .logoWrapper {
    position: absolute;
    width: 3.125em;
    height: 3.125em;
    top: -1.5625em;
    left: 2em;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.job header {
    margin: 0 0 1.75em;
}

.job h3 {
    color: var(--very-dark-blue);
}

.job small {
    margin: auto 0 0;
    color: var(--violet);
    font-weight: 700;
    font-size: 0.875em;
    display: flex;
    justify-content: space-between;
}

.job small b {
    display: flex;
    place-items: center;
    column-gap: 0.5em;
}

#loadMoreButton {
    margin: 0 auto;
}

#spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6.75em;
    height: 3.25em;
    margin-top: -1.625em;
    margin-left: -3.375em;
    z-index: 999;
}

#errorWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 24em;
    margin-left: -9em;
    margin-top: -9em;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2em;
    text-decoration: none;
    color: var(--very-dark-blue);
}

#errorWrapper span {
    font-size: 1.25rem;
    font-weight: 700;
}

#errorWrapper svg {
    color: var(--very-dark-blue);
}

@media (min-width: 48em) {
    body::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 10em;
        background-image: url(../assets/tablet/bg-pattern-header.svg);
        background-size: auto;
        background-repeat: no-repeat;
    }

    body::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 6em;
        width: calc(100% - 6em);
        height: 10em;
        background: var(--header-violet);
    }

    main {
        background-image: none;
        background-color: var(--light-gray);
        padding: 2.625em 2.4375em;
    }

    main > article > header {
        margin: 0 0 2.875em;
    }

    #jobList {
        row-gap: 4.0625em;
        margin: 0 0 3.5em;
        grid-template-columns: 1fr 1fr;
    }

    #loadMoreButton {
        margin: 0 auto 1.1875em;
    }
}

@media (min-width: 69.375em) {
    #jobListMetaWrapper {
        margin-top: -5.5625em;
    }

    #jobList {
        column-gap: 1.875em;
        grid-template-columns: 1fr 1fr 1fr;
    }
}