#searchForm {
    background: var(--white);
    height: 5em;
    border-radius: .375em;
    display: flex;
    align-items: center;
    margin: 0 0 3.5625em;
    padding: 0 1em;
}

#searchForm .fieldWrapper {
    height: 100%;
    flex-grow: 1;
    color: var(--midnight);
    min-width: 0; /* @see https://stackoverflow.com/questions/36247140/why-dont-flex-items-shrink-past-content-size  */
}

#searchForm .fieldWrapper .textField {
    outline: none;
    border: none;
}

#searchForm .textField {
    height: 100%;
    width: 100%;
    background-color: var(--white);
    color: var(--very-dark-blue);
}

#locationQueryLabel, #fullTimeQueryLabel {
    display: none;
}

#searchForm button {
    flex: 0 3em;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#openMobileFiltersButton {
    background: none;
    color: var(--very-dark-blue)
}

#openMobileFiltersButton.active {
    color: #F4D04E;
}

#mobileFiltersContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
}

#mobileFiltersWrapper {
    background-color: var(--white);
    border-radius: 0.375em;
    box-shadow: 0 25px 40px -20px rgba(0, 0, 0, 0.10);
    font-weight: 700;
    width: 20.4375em;
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    overflow: hidden;
}

#outset {
    margin: -1.5em -1.5em 1em;
}

#mobileFiltersWrapper label {
    padding: 0 0 1em;
}

#mobileFiltersWrapper input {
    margin-right: 1em;
}

#mobileFiltersWrapper .textField {
    width: 100%;
    height: 4.5em;
    padding: 0 1.5em 0 3.5em;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: var(--dark-gray-faded);
    outline: none;
    background: url(../assets/desktop/icon-location.svg) center left 1.5em no-repeat;
}

.filterByLocation:focus + #locationSuggestions {
    display: block;
}

#locationSuggestions {
    display: none;
    background: var(--light-gray);
    border-bottom: 1px solid var(--dark-gray-faded);
    position: relative;
    padding: 0.5em 1.5em;
    z-index: 9;
}

#locationSuggestions a {
    text-decoration: none;
    font-weight: 700;
    line-height: 2;
    color: var(--midnight);
    white-space: nowrap;
    display: flex;
    align-items: center;
    column-gap: 1em;
}

#locationSuggestions svg {
    flex-basis: 1em;
    min-width: 1em;
    flex-shrink: 0;
}

#locationSuggestions span {
    overflow: hidden;
    text-overflow: ellipsis;
}

#searchForm button svg {
    width: 24px;
    height: 24px;
}

@media (min-width: 48em) {
    #searchForm #openMobileFiltersButton {
        display: none;
    }

    #locationQuery, #fullTimeQuery, #fullTimeQueryLabel {
        display: block;
    }

    #searchForm {
        margin: 0 0 4.375em;
    }

    #searchForm .fieldWrapper {
        border-right: 1px solid var(--dark-gray-faded);
        padding: 0 0 0 3em;
    }

    #searchForm .fieldWrapper input {
        background: var(--white);
    }

    #searchForm #titleQueryLabel {
        flex-grow: 3;
        background: url(../assets/desktop/icon-search-violet.svg) center left .75rem no-repeat;
    }

    #outset {
        margin: 0;
    }

    #searchForm #outset {
        border-right: 1px solid var(--dark-gray-faded);
        height: 100%;
        flex-grow: 1;
    }

    #searchForm #outset .fieldWrapper {
        border-right: 0;
    }

    #searchForm #locationQueryLabel {
        /* centers the near my location text and adds gap between checkbox and label */
        display: flex;
        align-items: center;
        column-gap: 0.5em;
        background: url(../assets/desktop/icon-location.svg) center left 1.125em no-repeat;
        position: relative;
        font-weight: 700;
    }

    #fullTimeQueryLabel {
        display: flex;
        padding: 0 2em;
        column-gap: 1em;
        white-space: nowrap;
        font-weight: 700;
    }

    #fullTimeQueryLabel b {
        display: none;
    }

    #openMobileFiltersButton {
        display: none;
    }

    #searchForm #searchButton {
        background-image: none;
        text-indent: 0;
        min-width: auto;
        padding: 0 .875em;
    }

    #locationSuggestions {
        border: none;
        border-radius: 0.375em;
        position: absolute;
        box-shadow: 0 12px 24px -8px rgba(0, 0, 0, 0.15);
        min-width: 17.4375em;
        background: var(--white);
        top: 4.5em;
        left: 1.5em;
    }
}

@media (min-width: 69.375em) {
    #fullTimeQueryLabel b {
        display: inline;
    }

    #searchForm {
        margin: 0 0 6.5625em;
    }
}